p {
    text-align: justify;
}

h1 {
    text-align: center;
}

blockquote{
    font-family: 'Ranga', cursive;
    border-style: inset;
    border-width: 5px;
    padding: 10px;
}
blockquote img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20px;
    height: 20px;
}