.menu ul{
    list-style-type: none;
    width: 100%;
    padding: 10px;
}

.menu ul li{
    display: inline;
    font-size: 22px;
    margin: 6px;
}
 
.menu ul li a {
    text-decoration: none;
    color: black;
    font-family: 'Cinzel';
}

.menu ul li:hover {
    background-color: black;
    border-radius: 10px;
    margin: 0px;
    padding: 6px;
}


.menu ul li a span:hover{
    color: white;
}

.menu {
    margin-bottom: 10px;
    border-style: solid;
    border-color: black;
    border-width: 0px 0px 4px 0px;

}
