
html{
    font-family: 'verdana' !important;
    margin:0;
    padding:0;
}

input{
    border-radius: 5px;
    border: 1px solid #d0d0d0;  
}

footer{
    width:97% !important;
}

fieldset {
    border-radius: 10px;
}
.menu ul{
    list-style-type: none;
    width: 100%;
    padding: 10px;
}

.menu ul li{
    display: inline;
    font-size: 22px;
    margin: 6px;
}
 
.menu ul li a {
    text-decoration: none;
    color: black;
    font-family: 'Cinzel';
}

.menu ul li:hover {
    background-color: black;
    height: 100%;
    margin: 0px;
    padding: 8px;
}


.menu ul li a span:hover{
    color: white;
}

.menu {
    margin-bottom: 10px;
    /* border-style: solid; */
    border-color: black;
    border-width: 0px 0px 4px 0px;
    background-color: #d0d0d0;
}