#rodape-pagina{
    background-color: black;
    color: #F2FFFC;
    padding: 15px;
    position: absolute;
    bottom: 0px;
    width: 100%;
    text-align: center;
    clear: left;
    clear: right;
    left: 0px;
}